body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 130vh;
    margin: 0;
    padding: 0;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

.questions-list {
    padding-left: 20px;
    list-style-type: decimal;
}

.question {
    margin-bottom: 15px;
}

.question div {
    margin-left: 20px;
    margin-bottom: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
